
* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.WALLPAPER {

  /* 
    창의 크기를 설정
    vw와 vh를 이용하여 창의 크기가 변해도 창의 크기의 비율에 맞주도록 설정
  */
  
  width: 100w;
  height: 100vh;

  /* background-color: #000; */
}

.MAIN {
  
  display: flex;
  flex-direction: column;

  gap: 1vh;

  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  padding: 10px;

  background-color: lightgray;
  border-radius: 20px;
}

.MAIN .USER {

  display: flex;
  flex-direction: column;

  gap: 2vh;

  width: 95vw;
  height: 30vh;

  padding: 10px;

  background-color: rgba(146, 128, 128, 0.095);
}

.USER .HEAD {

  display: flex;

  justify-content: space-between; /* 이 줄을 추가합니다 */
  align-self: center;

  width: 90vw;
  height: 5vh;
  
  /* border: 0.5px solid gray; */
}

.HEAD .NAME {

  font-size: 2.5vh;
  font-weight: normal;

  align-self: center;
}

/* 프로젝트 단위로 List가 구설될 예정 */
.MAIN .LIST {
  
  /* HEAD와 BODY요소가 수직으로 배치 */
  display: flex;
  flex-direction: column;

  gap: 2vh;

  width: 95vw;
  height: 65vh;

  padding: 10px;

  background-color: rgba(146, 128, 128, 0.095);
}

.LIST .HEAD {

  display: flex;

  justify-content: space-between; /* 이 줄을 추가합니다 */
  align-self: center;

  width: 90vw;
  height: 5vh;
  
  /* border: 0.5px solid gray; */
}

.LIST .HEAD .TITLE {

  font-size: 2.5vh;
  font-weight: normal;

  align-self: center;
}

.USER .HEAD .ADD,
.LIST .HEAD .ADD {

  width: 5vw;
  height: 4.5vh;

  align-self: center;

  border: none;
  background-color: lightgray;

  font-size: 2vh;
  font-weight: bold;
}

.USER .HEAD .ADD:hover,
.LIST .HEAD .ADD:hover {

  background-color: rgba(146, 128, 128, 0.095);
}

.LIST .BODY {

  display: flex;

  justify-content: center;
  align-self: center;

  width: 90vw;
  height: 55vh;

  padding: 10px;

  transition: all 0.3s ease-in-out;
}

.LIST .OPTION {

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-self: center;

  gap: 2vh;

  width: 90vw;
  height: 30vh;

  padding: 10px;

  background-color: lightgray;

  transition: all 0.4s ease-in-out;
}

.LIST .OPTION .HEAD {

  width: 80vw;
  height: 5vh;

  justify-self: start;
  align-self: start;

  padding: 10px;

  border: none;
  /* background-color: white; */

  transition: all 0.4s ease-in-out;
}

.LIST .OPTION .TITLE {

  font-size: 2vh;
  font-weight: normal;

  align-self: center;
}

.LIST .OPTION .BOX1 {
  
  width: 80vw;
  height: 5vh;

  justify-self: start;
  align-self: start;

  padding: 10px;

  border: none;
  background-color: white;

  transition: all 0.4s ease-in-out;
}

.LIST .OPTION .BOX2 {

  width: 80vw;
  height: 5vh;

  justify-self: start;
  align-self: start;

  padding: 10px;

  border: none;
  background-color: white;

  transition: all 0.4s ease-in-out;
}

.LIST .OPTION .BOX3 {

  width: 80vw;
  height: 5vh;

  justify-self: start;
  align-self: start;

  padding: 10px;

  border: none;
  background-color: white;

  transition: all 0.4s ease-in-out;
}